@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  
}

@media (max-width:460px){
::-webkit-scrollbar {
  display: none;
  }
}

p {
  font-size: 1.2rem;
}

@media (max-width: 460px) {
  p {
    font-size: 1rem;
  }
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 3rem;
  margin-bottom: 0;
  text-transform:uppercase;
}

@media (max-width: 460px) {
  h1 {
    font-size: 1.6rem;
    line-height: 1.2;
    }
}

h3 {
  font-family: 'IBM Plex Mono', monospace;;
  font-size: 1.3rem;
  }

@media (max-width: 460px) {
  h3 {
    font-size: 1rem;
  }  
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: linear-gradient(180deg, #ececcf, #ffffff );
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
max-width: 100%;
display: block;
height: auto;
margin: 0 auto;
}

#img-div {
background: #ffffffc9;
padding: 10px;
margin: 0;
border-radius: 5px;
}

#img-caption {
margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1rem;
  }
}

#headline {
  margin: 50px 0;
}

@media (max-width: 460px) {
  #headline {
    margin: 30px 0;
  }
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

blockquote p {
  font-size: 1rem;
}
